In [5]:
import numpy as np
import pandas as pd

In [6]:
# Create a sample DataFrame with mixed types
dft = pd.DataFrame({
    'A': np.random.randint(0, 100, 10),
    'B': np.random.rand(10),
    'C': np.random.randint(0, 100, 10).astype('uint'),
    'D': ['text'] * 10
})

In [9]:
dft

    A         B   C     D
0  50  0.670366  10  text
1   2  0.085878  87  text
2  97  0.604002  63  text
3  29  0.576267  48  text
4  39  0.809145  22  text
5  61  0.654717  28  text
6  66  0.862545  73  text
7  72  0.915061   3  text
8  36  0.617312  89  text
9  58  0.759686  89  text

In [7]:
# Select all numeric columns except float from the DataFrame dft
dft.select_dtypes(include=['int', 'uint'])

    A   C
0  50  10
1   2  87
2  97  63
3  29  48
4  39  22
5  61  28
6  66  73
7  72   3
8  36  89
9  58  89

In [8]:
#return the last 3 rows of the DataFrame dft
dft.tail(3)

    A         B   C     D
7  72  0.915061   3  text
8  36  0.617312  89  text
9  58  0.759686  89  text

In [11]:
# Return the minimum and maximum of a Series x as a new Series with the index ["min", "max"]
def min_max(x):
    return pd.Series([x.min(), x.max()], index=["min", "max"])
dft['A'].apply(min_max)

AttributeError: 'int' object has no attribute 'min'