# Solutions: Pandas Basics

This notebook contains the solutions for the hands-on activities in the lesson.

## Section 1: The Inventory System

In [ ]:
import pandas as pd
fruit_data = {
    "fruit": ["Apple", "Banana", "Cherry", "Date"],
    "quantity": [100, 40, 200, 20]
}

# 1. Create DataFrame
inventory = pd.DataFrame(fruit_data)

# 2. Add Price
inventory['price'] = [3.0, 4.0, 2.0, 5.0]

# 3. Calculate Total Value
inventory['total_value'] = inventory['quantity'] * inventory['price']

# 4. Flag Low Stock
inventory['low_stock'] = inventory['quantity'] < 50

inventory

## Section 2: Data Detective

In [2]:
import numpy as np
import pandas as pd
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=["Ohio", "Colorado", "Utah", "New York"],
                    columns=["one", "two", "three", "four"])

# 1. Utah and New York
print(data.loc[["Utah", "New York"]])

# 2. 'two' for 'Ohio'
print(data.loc["Ohio", "two"])

# 3. Filter > 5
print(data[data["three"] > 5])

# 4. Update value
data.loc["New York", "four"] = 100
print(data)

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15
1
          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14   100

## Section 3: Leaderboard Logic

In [3]:
scores = pd.DataFrame({
    "Student": ["Alice", "Bob", "Charlie", "David"],
    "Math": [85, 45, 92, 60],
    "Science": [70, 55, 88, 72]
})

# 2. Sort by Math desc
scores_sorted = scores.sort_values(by="Math", ascending=False)

# 3. Rank
scores['Math_Rank'] = scores['Math'].rank(ascending=False)

# 4 & 5. Apply Pass/Fail
def check_status(score):
    if score >= 60:
        return "Pass"
    else:
        return "Fail"

scores['Status'] = scores['Math'].apply(check_status)

scores

   Student  Math  Science  Math_Rank Status
0    Alice    85       70        2.0   Pass
1      Bob    45       55        4.0   Fail
2  Charlie    92       88        1.0   Pass
3    David    60       72        3.0   Pass